.dashboard-nav {
    margin: 0%;
    color: beige;
    width: 100%;
    height: 80px;
    background-color: transparent;
    position: relative;
    top: 10px;
    z-index: 500;
}

.dashboard-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    display: inline-block;
    position: absolute;
    margin: 0;
    margin-left: 5px;
    padding: 0;
    top: 20%;
    transform: translateY(-50%);
    z-index: 501;
  }
  
  .db-site-logo {
    margin-left: -5px;
    text-decoration: none;
    color: #fff;
  }


.db-tree-outline {
    width: 30px;
    margin: 0;
    padding: 0;
    outline: 0;
  }

.navbar-links {
    /* display: none; */
    position: fixed;
    margin-top: 35px;
    /* margin-bottom: 40px; */
    padding-bottom: 40px;
    width: 100%;
    font-size: 1.1em;  
    text-transform: uppercase;
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
   
}


.navbar-links li {
    text-decoration: none;
    font-weight: 600;
    list-style: none;
    text-align: right;
    color: beige;
    padding: .5rem 1rem;
    margin-right: 0;
    display: block;
}

.navbar-links li a {
    text-decoration: none;
    color: beige;
}

.navbar-links li a:hover {
    color: white;
}

.toggle-button {
    position: static;
    float: right;
    margin-right: 20px;
    height: 28px;
    width: 28px;
    line-height: 42px;
    cursor: pointer;
    color: #e8eceaf3;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.toggle-button:hover {
    color: white;
}

.nav-btn {
    color: rgb(240, 240, 229);
    font: inherit;
    background-color: rgba(14, 22, 17, 0.8);
    border: none;
    padding: 7px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    border-radius: 0.6rem;
    transition: all 0.3s ease 0s;
  }
.nav-btn:hover {
background-color: rgba(59, 119, 57, 0.8);
}
  


.tree-count {
    display: none;
}


  #tree-number {
    margin-right: .6em;
    font-weight: bold;
  }
  


@media all and (min-width: 400px) {

    .dashboard-nav {
        margin-left: 0px;
    }


    .dashboard-logo {
        font-size: 1.7rem;
      }

    .db-tree-outline {
        width: 38px;
    }

    .toggle-button {
        position: fixed;
        right: 0px;
        top: 24px;
        height: 38px;
        width: 38px;
        line-height: 42px;
        cursor: pointer;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .navbar-links {
        margin-top: 50px;
        right: 2px;
    }

    .nav-btn {
        color: rgb(240, 240, 229);
        font: inherit;
        border: none;
        padding: 7px;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
        border-radius: 0.6rem;
        transition: all 0.3s ease 0s;
      }
    .nav-btn:hover {
    background-color: rgba(59, 119, 57, 0.8);
    }
      
  }
