.dashboard-nav {
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;  
    color: beige;
}

.grow-title {
    font-size: 1.5em;
    margin-left: 1rem;
}

.grow-title a {
    text-decoration: none;
    color: beige;
}

.navbar-links {
    /* display: none; */
    width: 100%;
    font-size: 1.1em;  
    text-transform: uppercase;
}

/* .navbar-links:active {
    display: flex;
} */

.navbar-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
   
}


.navbar-links li {
    text-decoration: none;
    font-weight: 600;
    list-style: none;
    text-align: right;
    color: beige;
    padding: .5rem 1rem;
    margin-right: 0;
    display: block;
}

.navbar-links li a {
    text-decoration: none;
    color: beige;
}

.navbar-links li a:hover {
    color: white;
}

.toggle-button {
    display: flex;
    text-align: right;
    top: .75;
    margin-right: 1rem;
}

.toggle-button:hover {
    color: white;
}

.btn {
    color: rgb(240, 240, 229);
    font: inherit;
    background-color: rgba(154, 196, 171, 0.4);
    border: none;
    padding: 7px;
    padding-left: 15px;
    padding-right: 50px;
    cursor: pointer;
    border-radius: 0.6rem;
    transition: all 0.3s ease 0s;
  }
.btn:hover {
background-color: rgba(59, 119, 57, 0.8);
}
  


.tree-count {
    display: none;
}


  #tree-number {
    margin-right: .6em;
    font-weight: bold;
  }
  


@media all and (min-width: 600px) {

    .dashboard-nav  {
      font-size: 1.8em;  
    }
  
    .grow-title {
        font-size: 2em;
        margin-right: 4rem;

    }

    .tree-count {
       display: flex;
      }
    
    
  }
