.dashboard-nav {
    /* text-decoration: none; */
    margin: 0%;
    /* margin-top: 20px; */
    /* margin-bottom: 10px; */
    /* padding: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;   */
    color: beige;

    width: 100%;
    height: 96px;
    background-color: transparent;
    position: absolute;
    top: 10px;
    z-index: 500;
}

.dashboard-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    display: inline-block;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 20px;
    top: 35%;
    transform: translateY(-50%);
    z-index: 501;
  }
  
  .site-logo {
    margin-left: -5px;
    text-decoration: none;
    color: #fff;
  }

/* .grow-title {
    font-size: 1.5em;
    margin-left: 1rem;
} */

.tree_outline {
    width: 30px;
    margin: 0;
    padding: 0;
    outline: 0;
  }

/* .home {
    text-decoration: none;
    font-size: 100%;
    color: beige;
    background-color: inherit;
    border: 0;
    padding: 0;
    cursor: pointer;
} */

/* .home:hover, .home:focus {
    background-color: black;
} */

.navbar-links {
    /* display: none; */
    width: 100%;
    font-size: 1.1em;  
    text-transform: uppercase;
}

/* .navbar-links:active {
    display: flex;
} */

.navbar-links ul {
    margin: 0;
    padding: 0;
    width: 100%;
   
}


.navbar-links li {
    text-decoration: none;
    font-weight: 600;
    list-style: none;
    text-align: right;
    color: beige;
    padding: .5rem 1rem;
    margin-right: 0;
    display: block;
}

.navbar-links li a {
    text-decoration: none;
    color: beige;
}

.navbar-links li a:hover {
    color: white;
}

.toggle-button {
    /* display: flex;
    text-align: right;
    top: .75;
    margin-right: 1rem; */

    position: fixed;
    right: 38px;
    top: 24px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    font-family: montserrat-medium,sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: #39b54a;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.toggle-button:hover {
    color: white;
}

.btn {
    color: rgb(240, 240, 229);
    font: inherit;
    background-color: rgba(154, 196, 171, 0.4);
    border: none;
    padding: 7px;
    padding-left: 15px;
    padding-right: 50px;
    cursor: pointer;
    border-radius: 0.6rem;
    transition: all 0.3s ease 0s;
  }
.btn:hover {
background-color: rgba(59, 119, 57, 0.8);
}
  


.tree-count {
    display: none;
}


  #tree-number {
    margin-right: .6em;
    font-weight: bold;
  }
  


@media all and (min-width: 600px) {

    /* .dashboard-nav  {
      font-size: 1.8em;  
    }
  
    .grow-title {
        font-size: 2em;
        margin-right: 4rem;

    }

    .tree-count {
       display: flex;
      }
     */
    
  }
