
  .landing-page {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  
  .landing-page nav {
    padding: 1% 0;
    background-color: #aaa;
   
  }

  footer {
    padding: 1% 0;
    background-color: #aaa;
   
  }
  .landing-page ul {
    list-style-type: none;
  }
  
  .landing-page nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .landing-header {
    padding: 45px 15px;
    margin-top: 100px;
  }

  
  .landing-section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  .landing-section:nth-child(even) {
    background-color: #ddd;
  }
  
  .landing-page p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  .landing-page p + p {
    margin-top: 15px;
  }
  

   nav a {
    float: left;
    color: #f2f2f2;
    padding: 1px 8px;
    text-decoration: none;
    font-size: 30px;
    text-align: right;
  }