* {
    box-sizing: border-box;
  }
  
  .landing-page {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }

  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
   
  }
  ul {
    list-style-type: none;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  header {
    padding: 45px 15px;
  }
  
  section {
    min-height: 200px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  

  nav a {
    float: left;
    color: #f2f2f2;
    padding: 1px 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
  }