
.App-header h1 {
  margin: 0;
  color: #f6f6f6;
  font-size: 20px;
}

header {
  padding: 25px 15px;
  margin-top: 20px;
}

.App-list {
  display: flex;
}

.tree-count {
  font-size: 20px;
  text-align: right;
}

/* .NavCircleButton {
  box-sizing: border-box;
  background-color: #cacaca;
  border-radius: 30px;
  border: 0;
  color: black;
  display: block;
  font-size: 12px;
  font-weight: bold;
  height: 60px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  width: 60px;
}


.NavCircleButton:hover {
  cursor: pointer;
} */

.btn {
  display: flex;
  justify-content: right;
  align-items: right;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 6px;
  cursor: pointer;
  background-color: #cce9dd34;
    border-radius: 0.6rem;
    transition: background-color 150ms;
}

:focus {
  outline-color: #fa0;
}