
.App-header {
  font-size: 1em;
  color: beige;
  display: flex;
  border-radius: 10px;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.App-header ul {
  padding: 0px 5px;
  list-style: none;
}

.App-header li {
  display: inline-block;

}

.App-header li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.App-header li a:hover {
  color: #0088a9
}

.tree-count {
  margin-right: 4em;
  align-self: flex-end;
}

#tree-number {
  margin-right: .6em;
  font-weight: bold;
}



.App-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-list .NavCircleButton {
  color: beige;
}

.NavCircleButton {
  margin-left: 10px;
  color: rgb(240, 240, 229);
  font: inherit;
  background-color: rgba(154, 196, 171, 0.4);
  border: none;
  padding: 9px;
  padding-left: 15px;
  padding-right: 100px;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: all 0.3s ease 0s;
}

.NavCircleButton:hover {
  background-color: rgba(59, 119, 57, 0.8);
}


.btn {
  font: inherit;
  font-size: .8em;
  background-color: rgba(154, 196, 171, 0.4);
  border: none;
  color: beige;
  padding: 9px 25px;
  cursor: pointer;
  border-radius: 0.7rem;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: rgba(59, 119, 57, 0.8);
  color: beige;
}

:focus {
  outline-color: #fa0;
}


@media all and (min-width: 600px) {

  .App-header {
    font-size: 1.3em;
    justify-content: flex-start;
  }


  .App-list {
    flex-direction: row;
    align-items: flex-start;
  }

}

.App-header {
  font-size: 1.3em;
  
}

