
.dashboard-nav {
  text-decoration: none;
  font-size: 1.2em;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.dashboard nav li{
  text-decoration: none;
}

.App-header {
  list-style-type: none;
  margin-top: 20px;
  font-size: 20px;
  /* background-color: rgba(0,136,169,1); */
  color: beige;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 20px;
}

.App-header li {
  display: inline-block;
  padding: 0px 5px;
}

.App-header li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.App-header li a:hover {
  color: #0088a9
}

.App-header p {
  margin-right: auto;
}


.App-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-list .NavCircleButton {
  color: beige;
}

.NavCircleButton {
  margin-left: 10px;
  color: rgb(240, 240, 229);
  font: inherit;
  background-color: rgba(154, 196, 171, 0.4);
  border: none;
  color: inherit;
  padding: 9px;
  padding-left: 15px;
  padding-right: 100px;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: all 0.3s ease 0s;
}

.NavCircleButton:hover {
  background-color: rgba(59, 119, 57, 0.8);
}
/* .tree-count {
  font-size: 20px;
  text-align: right;
} */


.btn {
  font: inherit;
  background-color: rgba(0,136,169,1);
  border: none;
  color: inherit;
  padding: 9px 25px;
  cursor: pointer;
  border-radius: 0.6rem;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: rgba(0,136,169,0.8);
}

:focus {
  outline-color: #fa0;
}

@media all and (min-width: 600px) {

  .dashboard nav {
    font-size: 2em;  
  }

  .App-list {
    flex-direction: row;
    align-items: flex-start;
  }

}


/* @media all and (min-width: 800px) {

  .App-list {
    flex-direction: row;
    align-items: flex-start;
  }

} */