

.login-form {
    padding: 100px 15px;
    text-align: center;
    line-height: 1.5;
  }

.login-form p {
    text-align: center;
    line-height: 1.5;
}

.login-nav nav a {
    float: left;
    color: #f2f2f2;
    padding: 1px 10px;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
  }

  .login-nav,
  .login-nav footer {
    padding: 1% 0;
    background-color: #aaa;
   
  }
  .login-nav ul {
    list-style-type: none;
  }
  
  .login-nav nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }