.landing-nav {
    text-decoration: none;
    /* margin-top: 10px;
    margin-bottom: 10px; */
    background-color:rgb(44, 53, 63);
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1.5em;  
    padding: 10px 0 0 0;
}

.landing-nav li {
    float: left;
    /* color: #f2f2f2; */
    /* padding: 0 20px 10px 10px; */
    text-decoration: none;
    /* font-size: 30px; */
    text-align: right;
  }

.landing-nav ul {
    text-decoration: none;
    list-style-type: none;
    padding: 0%;
    margin-top: 0%;
}

.landing-nav a {
    text-decoration: none;
    color: #fff;
}

.landing-nav .not-loggedin {
    float: right;
}

.account-details {
    float: right;
}

.signup_btn {
    color: rgb(240, 240, 229);
    font: inherit;
    background-color: rgba(154, 196, 171, 0.4);
    border: none;
    padding: 7px;
    padding-top: 2px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 0.6rem;
    transition: all 0.3s ease 0s;
  }

  .signup_btn:hover {
    background-color: rgba(59, 119, 57, 0.8);
    color: beige;
  }

@media all and (min-width: 400px) {

    .landing-nav  {
      font-size: 2em;  
    }
  
  

  .landing-nav { 
    padding: 20px 0 0 0;
}

.landing-nav li {
    padding: 0 20px 10px 10px;
  }
}